<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>E:\Grado Superior\Curso_25-26_2\Desarrollo de interfaces\Tema 3\Ejercicios\Repaso\Ejercicio 3\Ejercicio_3.jar</jar>
  <outfile>E:\Grado Superior\Curso_25-26_2\Desarrollo de interfaces\Tema 3\Ejercicios\Repaso\Ejercicio 3\Ejercicio nuevo.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>E:\Grado Superior\Curso_25-26_2\Desarrollo de interfaces\Tema 3\Ejercicios\Repaso\Ejercicio 3\Iconos\Desarrollo.ico</icon>
  <jre>
    <path>%JAVA_HOME%;%PATH%</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion></minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>