.menu-bar {
 -fx-background-color: #0000FF;
}
u-bar .menu:hover {
  -fx-background-color: #FF0000;
}
.menu-bar .menu:showing {
 -fx-background-color: #FF0000;
}
.menu-item {
 -fx-background-color: #0000FF;
}
.menu-item:hover {
 -fx-background-color: #00FF00;
}
.button {
    -fx-border-color: white;
    -fx-border-width: 3px;
    -fx-background-radius: 2px;
    -fx-border-radius: 1px;
    -fx-background-color: yellow;
    -fx-font-size:20;
    -fx-text-fill: white;
}
.button:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
.Label {
    -fx-text-fill: white;
    -fx-font-weight: lighter;
    -fx-font-size: 26;
}