.Button {
    -fx-border-color: white;
    -fx-border-width: 3px;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-background-color: yellow;
    -fx-font-size:16;
    -fx-text-fill: black;
    -fx-margin: 20px;
}
.button:hover {
    -fx-border-color: white;
    -fx-border-width: 3px;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-background-color: blue;
    -fx-font-size:16;
    -fx-text-fill: white;
    -fx-margin: 20px;
}