.Button {
    -fx-border-color: white;
    -fx-border-width: 3px;
    -fx-background-radius: 2px;
    -fx-border-radius: 1px;
    -fx-background-color: yellow;
    -fx-font-size:20;
    -fx-font-style: italic;
    -fx-text-fill: red;
}
.Pane {
    -fx-background-color: red;
    -fx-text-fill: white;
}
.Label {
    -fx-text-fill: white;
    -fx-font-weight: lighter;
    -fx-font-size: 26;
}
.button:hover {
    -fx-background-color: white;
}